<div ng-view autoscroll="true"></div>

<script type="text/ng-template" id="application/index">

</script>
<script type="text/ng-template" id="application/create">

</script>
<script type="text/ng-template" id="application/timesheet">

</script>