<div ng-view autoscroll="true"></div>

<script type="text/ng-template" id="application/index">
    <div ng-show="loading">
        Loading...
    </div>
    <div ng-show="!loading">
        <div ng-show="deleteSuccess" class="alert alert-success">
            The timesheets were successfully deleted.
        </div>
        <div ng-show="deleteError" class="alert alert-danger">
            There was an error whilst deleting the timesheets.
        </div>
        <div class="panel search-panel">
            <h3>Search</h3>
            <div class="row">
                <form name="form">
                    <div class="col-md-12 col-lg-3">
                        <label for="candidateName">Candidate Name:</label> <input type="text" class="form-control" ng-model="candidateName" name="candidateName" />
                    </div>
                    <div class="col-md-12 col-lg-3">
                        <label for="clientName">Client Name:</label> <input type="text" class="form-control" ng-model="clientName" name="clientName" />
                    </div>
                    <div class="col-md-12 col-lg-3">
                        <label for="fromDate">From Date (DD/MM/YYYY):</label> <input type="text" class="form-control" ng-model="dateFrom" moment-valid-date name="fromDate" />
                        <span class="error" ng-show="form.fromDate.$touched && form.fromDate.$error.momentValidDate">Please enter a valid date</span>
                    </div>
                    <div class="col-md-12 col-lg-3">
                        <label for="toDate">To Date (DD/MM/YYYY):</label><input type="text" class="form-control" ng-model="dateTo" moment-valid-date name="toDate" />
                        <span class="error" ng-show="form.toDate.$touched && form.toDate.$error.momentValidDate">Please enter a valid date</span>
                    </div>
                </form>
            </div>
            <div class="row button-row">
                <div class="col-md-2">
                    <button class="btn btn-default" onclick="window.print();">Print Visible</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" ng-click="deleteTimesheets()">Delete Visible</button>
                </div>
            </div>
        </div>
        <div class="result" ng-show="filteredTimesheets.length > 0"><p><strong>{{filteredTimesheets.length}} timesheets found</strong></p></div>
        <div ng-repeat="timesheet in filteredTimesheets" class="panel timesheet">
            <table class="table table-bordered">
                <tr>
                    <th scope="row">
                        Candidate Name: 
                    </th>
                    <td>
                        {{timesheet.CandidateName}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Client Name:
                    </th>
                    <td>
                        {{timesheet.ClientName}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Job Title:
                    </th>
                    <td>
                        {{timesheet.JobTitle}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Date:
                    </th>
                    <td>
                        {{getFormattedDate(timesheet.StartDate)}} - {{getFormattedDate(timesheet.EndDate)}}
                    </td>
                </tr>
                <tr>
                    <th colspan="2">Notes</th>
                </tr>
                <tr>
                    <td height="100" class="notes" colspan="2"></td>
                </tr>
            </table>
        </div>
        <div ng-if="timesheets.length === 0">
            No timesheets are available. Click <a href="/#/create">here</a> to generate timesheets.
        </div>
        <div ng-if="timesheets.length > 0 && filteredTimesheets.length === 0">
            Use the filters above to show results.
        </div>
    </div>
</script>
<script type="text/ng-template" id="application/create">
    <span ng-show="createSuccess">Timesheets have been created</span>
    <span ng-show="createError">There was an error whilst creating timesheets</span>
    <div class="panel">
        <h3>Generate Timesheets</h3>

        <form name="form" novalidate>
            <div class="form-group">
                <label for="candidateName">Candidate Name:</label>
                <input type="text" class="form-control" ng-model="request.CandidateName" name="candidateName" required>
                <span class="error" ng-show="(form.$submitted || form.candidateName.$touched) && form.candidateName.$error.required">This is a required field</span>
            </div>
            <div class="form-group">
                <label for="clientName">Client Name:</label>
                <input type="text" class="form-control" ng-model="request.ClientName" name="clientName" required>
                <span class="error" ng-show="(form.$submitted || form.clientName.$touched) && form.clientName.$error.required">This is a required field</span>
            </div>
            <div class="form-group">
                <label for="jobTitle">Job Title:</label>
                <input type="text" class="form-control" ng-model="request.JobTitle" name="jobTitle" required>
                <span class="error" ng-show="(form.$submitted || form.jobTitle.$touched) && form.jobTitle.$error.required">This is a required field</span>
            </div>
            <div class="form-group">
                <label for="placementStart">Placement Start Date (dd/mm/yyyy):</label>
                <input type="text" class="form-control" ng-model="request.PlacementStartDate" name="placementStart" moment-valid-date required>
                <span class="error" ng-show="(form.$submitted || form.placementStart.$touched) && form.placementStart.$error.required">This is a required field</span>
                <span class="error" ng-show="(form.$submitted || form.placementStart.$touched) && form.placementStart.$error.momentValidDate">Please enter a valid date</span>
            </div>
            <div class="form-group">
                <label for="placementEnd">Placement End Date (dd/mm/yyyy):</label>
                <input type="text" class="form-control" ng-model="request.PlacementEndDate" name="placementEnd" moment-valid-date required>
                <span class="error" ng-show="(form.$submitted || form.placementEnd.$touched) && form.placementEnd.$error.required">This is a required field</span>
                <span class="error" ng-show="(form.$submitted || form.placementEnd.$touched) && form.placementEnd.$error.momentValidDate">Please enter a valid date</span>
            </div>
            <div class="form-group">
                <label for="placementType">Placement Type</label>
                <select class="form-control" ng-model="request.PlacementType" name="placementType" required>
                    <option value="">- Please Select -</option>
                    <option value="1">Weekly</option>
                    <option value="2">Monthly</option>
                </select>
                <span class="error" ng-show="(form.$submitted || form.placementType.$touched) && form.placementType.$error.required">This is a required field</span>
            </div>
            <button type="submit" class="btn btn-default" ng-click="submit(form.$valid)">Generate Timesheets</button>
        </form>
    </div>
    
</script>
<script type="text/ng-template" id="application/timesheet">

</script>