@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <header></header>
    <div class="col-xs-12 col-sm-2">
        <!-- Some kind of nav here -->
    </div>
    <div class="col-xs-12 col-sm-10">
        @{ Html.RenderPartial("Application"); }
    </div>
</div>

